/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
header {
    text-align: center;
    background: url("dark_bg.png");
    background-size: cover;
}
header ul li a {
    color: white;
}
header h1 a {
    color: black;
    font-size: 70px;
}
img {
    margin: 40px 0px 0px 0px;
    border: 7px solid #ffffff;
    border-radius: 20px;
}
ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
article {
    border-bottom: 1px solid #ccc;
}
input[type="text"], input[type="password"], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea {
    overflow: auto;
    padding-left: 3px;
    vertical-align: top;
    width: 98%;
}

.content {
    max-width: 1024px;
    padding: 20px;
    margin: 0 auto;
}

.content a {
    color: black;
}

@media (max-width: 500px) {
    header h1 {
        font-size: 36px;
    }
    li {
        display: block;
        padding: 5px;
    }
}
.social_icons a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("socials.png");
    margin: 0 auto;
}
span.hidden {
    visibility: hidden;
}
.icon-github {
    background-position: 32px 0;
}
.icon-envelop {
    background-position: 0 0;
}